/* Reset básico */
body, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.slider-box {
  position: relative;
  max-width: 800px;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 25%;
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s, opacity 0.5s;
}

.slide.active {
  flex: 0 0 50%;
  opacity: 1;
  transform: scale(1);
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
